@*@page "/Ticket"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ITicketsData _db

<h3>Ticket Aperti</h3>
@if (tickets is null)
{
    <p><em>Caricamento...</em></p>
}
else
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Create Time</th>
            <th>Store</th>
            <th>Description</th>
            <th>Fault</th>
            <th>Caller</th>
            <th>Close Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in tickets)
        {
            <tr>
                <td>@ticket.Id</td>
                <td>@ticket.CreateTime</td>
                <td>@ticket.Store</td>
                <td>@ticket.Description</td>
                <td>@ticket.Fault</td>
                <td>@ticket.Caller</td>
                <td>@ticket.CloseTime</td>
            </tr>
        }
    </tbody>
</table>

<MudCardContent>
    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
        <MudTextField T="string" Label="Username" Required="true" RequiredError="Inserisci il nome untente!" />
        <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!" />
        <MudTextField T="string" Label="Password" HelperText="Choose a strong password" @ref=""
                      InputType="InputType.Password" Required="true" RequiredError="Inserisci la password!" />
        <div class="d-flex">
            <MudRadioGroup T="string" Required="true" RequiredError="Account type is required!">
                <MudRadio Option="@("Personal")">Personal</MudRadio>
            </MudRadioGroup>
        </div>
        <MudCheckBox T="bool" Required="true" RequiredError="You must agree" Class="ml-n2"
                     Label="I agree that MudBlazor is awesome!" />
    </MudForm>
</MudCardContent>



}

@code {
    private IEnumerable<TicketModel> tickets;

    protected override async Task OnInitializedAsync()
    {
        tickets = await _db.GetTicket();
    }
}*@
