@page "/"
@page "/Dashboard"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Microsoft.AspNetCore.Identity
@using Data.Models

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavManager
@inject ITicketNewData _dbTicketNew

@*mando Id ticket per il routing*@
@if (selectedItem1 is not null)
{
    NavManager.NavigateTo($"/Ticket/{selectedItem1.TicketId}");
}


@if (tickets is null || ticketsLastMonth is null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem Class="mt-5">
            <MudProgressCircular Class="mx-auto" Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
        </MudItem>
    </MudGrid>
}
else
{
    @foreach (var ticket in tickets)
    {

        if (ticket.StatoTicket == "Aperto")
        {
            //ticket aperti
            ticketSituazione[0]++;
        }
        else
        {
            //ticket chiusi
            ticketSituazione[1]++;
        }

    }
    @for (int i = 0; i < 2; i++)
    {
        situazioneTicket[0] = new TicketStatus { Stato = "Aperto", TotaleTicket = ticketAperti };
        situazioneTicket[1] = new TicketStatus { Stato = "Chiuso", TotaleTicket = ticketChiusi };
    }

<MudGrid Class="pa-5" Justify="Justify.Center">
    <MudItem md="6" sm="12">
        <MudPaper Class="pa-5" Elevation="3" Height="100%">
            <MudText Typo="Typo.h6">Andamento ticket ultimo mese</MudText>
            <MudChart ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="350" ChartOptions="options"></MudChart>
        </MudPaper>
    </MudItem>
    <MudItem md="6" sm="12">
        <MudTable Items="@ticketsLastMonth" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info" Elevation="3" RowsPerPage="4" @bind-SelectedItem="selectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Ultimi ticket</MudText>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Numero</MudTh>
                <MudTh>Problema</MudTh>
                <MudTh>Stato</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Numero Ticket">@context.TicketId</MudTd>
                <MudTd DataLabel="Problema">@context.Subject</MudTd>
                <MudTd DataLabel="Stato">
                    @if (context.StatoTicket == "Aperto")
                        {
                        <MudAlert Severity="Severity.Error">Aperto</MudAlert>
                        }
                        else
                        {
                        <MudAlert Severity="Severity.Success">Chiuso</MudAlert>
                        }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudItem>
    <MudItem md="6" sm="12">
        <MudPaper Class="pa-5" Elevation="3" Height="100%">
            <MudText Typo="Typo.h6">Resoconto ticket</MudText>
            <MudChart ChartType="ChartType.Donut" LegendPosition="Position.Right" Width="250px" Height="250px"
                      InputData="@ticketSituazione" InputLabels="@tipoTicket">
            </MudChart>
        </MudPaper>
    </MudItem>
    <MudItem md="6" sm="12">
        <MudPaper Class="pa-5" Elevation="3" Height="100%">
            <MudText Typo="Typo.h6">Servizio Help Desk</MudText>
            <MudText Typo="Typo.body1">
                Per aprire i ticket potete contattare direttamente i seguenti numeri o mandare un e-mail:
            </MudText>
            <MudLink Href="tel:+051270394" Typo="Typo.caption">Tel: 051270394</MudLink>
            <MudLink Href="tel:+3492356330" Typo="Typo.caption">Cell: 3492356330</MudLink>
            <MudLink Href="tel:+3492356332" Typo="Typo.caption"> 3492356332</MudLink>
            <MudLink Href="mailto:helpdesk@bbctech.it" Typo="Typo.caption">E-mail: helpdesk@bbctech.it</MudLink>
            <MudCarousel Class="mt-5" Style="height:200px;" ShowArrows="true" ShowDelimiters="false" AutoCycle="true" TData="object">
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudItem Class="my-auto mx-auto">
                            <img src="/image/IposLogo.gif" alt="logo ipos" style="height:auto; width:200px" />
                        </MudItem>
                    </div>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Slide">
                    <div class="d-flex" style="height:100%">
                        <MudItem Class="my-auto mx-auto">
                            <img src="/image/SmartLogo.gif" alt="logo smart" style="height:auto; width:300px" />
                        </MudItem>
                    </div>
                </MudCarouselItem>
            </MudCarousel>
        </MudPaper>
    </MudItem>
</MudGrid>
}

@code {
    //Enum con dati ticket da server
    private IEnumerable<TicketNewModel> tickets;
    private IEnumerable<TicketNewModel> ticketsLastMonth;

    //scheda LineChart
    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "Ticket Aperti", Data = new double[] { 0, 1, 10, 5, 2, 4, 25 } },
    };
    public string[] XAxisLabels = { "1", "5", "10", "15", "20", "25", "30"};
    private ChartOptions options = new ChartOptions() { YAxisTicks = 1};

    //scheda DonoutChart
    private double[] ticketSituazione = new double[2];
    private string[] tipoTicket = { "aperto", "chiuso" };

    private int ticketAperti { get; set; }
    private int ticketInLavorazione { get; set; }
    private int ticketChiusi { get; set; }

    //scheda Tables
    private TicketNewModel selectedItem1;

    private int userBrandId { get; set; }
    public string userBrandName { get; set; }

    class TicketStatus
    {
        public string Stato { get; set; }
        public int TotaleTicket { get; set; }
    }

    TicketStatus[] situazioneTicket = new TicketStatus[2];


    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userState = authState.User;

        var user = await UserManager.FindByNameAsync(userState.Identity.Name);
        userBrandId = user.BrandId;
        userBrandName = user.UserName;

        tickets = await _dbTicketNew.GetNewTicket(userBrandId);
        ticketsLastMonth = await _dbTicketNew.GetNewTicketFromTicketIdLastTen(userBrandId);
    }
}