@page "/Ticket/{Id:int}"

@using DataAccessLibrary
@using DataAccessLibrary.Models 

@inject ITicketsData _db


@if (tickets is null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    @foreach (var ticket in tickets)
    {
        @if(ticket.Id == Id)
        {
            <div class="row shadow p-3 mb-5 bg-body rounded">
                <div class="col-6 mb-5">
                    <h3><strong>ID Ticket:</strong></h3>
                    <h3>@Id</h3>
                </div>
                <div class="col-6 mb-5">
                    <h3><strong>Stato Ticket:</strong></h3>
                        @if(@ticket.CloseTime == DateTime.MinValue && @ticket.Caller == null)
                        {
                            <h2><span class="badge badge-danger">Aperto</span></h2>
                        }
                        else if(@ticket.CloseTime == DateTime.MinValue)
                        {
                            <h2><span class="badge badge-warning">In lavorazione</span></h2>
                        }
                        else 
                        {
                            <h2><span class="badge badge-success">Chiuso</span></h2>
                        }
                </div>
                <div class="col-6">
                    <h4>Data apertura ticket:</h4>
                    <p>@ticket.CreateTime</p>
                </div>
                <div class="col-6">
                    <h4>Store:</h4>
                    <p>@ticket.Store</p>
                </div>
                <div class="col-12">
                    <h4>Descrizione:</h4>
                    <p>@ticket.Description</p>
                </div>
                <div class="col-6">
                    <h4>Errore:</h4>
                    <p>@ticket.Fault</p>
                </div>
                <div class="col-6">
                    <h4>Operatore:</h4>
                    @if (ticket.Caller == null)
                    {
                        <p>Da assegnare</p>
                    }
                    else
                    {
                        <p>@ticket.Caller</p>
                    }
                </div>
                <div class="col-12">
                    <h4>Data chiusura ticket:</h4>
                    @if (ticket.CloseTime == DateTime.MinValue)
                     {
                        <p> </p>
                     }
                     else
                     {
                     <p>@ticket.CloseTime</p>
                     }
                </div>
            </div>
      
        }
    }
}




@code {
	[Parameter]
	public int Id { get; set; }

    private IEnumerable<TicketModel> tickets;


	protected override void OnParametersSet()
    {
    //the param will be set now
    var test = Id;
    }

 protected override async Task OnInitializedAsync()
    {
        tickets = await _db.GetTicket();
    }
}
